/* ########## Underline effect for links ########## */
/* ########## Add link to icon(hand pointing up) to home page without reloading, i.e., scroll up ########### */
/* ########## Add dark mode as well ########## */
/* Style contact section */
/* Make Responsive. Skills section stays same size with decreasing screen size(width); Left padding stays while right is decreased */
/* Skills section columns responsive. check one of project50. */

*{
    margin: 0;
    /* font-size: 18px; */
    overflow-x: hidden;
}

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    /* padding: 0 100px; */
}

.home{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 95vh;
    justify-content: center;
    padding: 0 100px;
}

.home a{
    color: black;
}

.h1{
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 100px;
    color: rgb(0, 0, 0);
}

h1 .bolder{
    font-weight: 400;
}

.home .intouch{
    font-weight: 300;
    font-size: 20px;
}

.home .intouch a{
    border-bottom: solid 1px blue;
    padding: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.home .intouch a:hover{
    background-color: blue;
    color: white;
}

a#top.active{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    visibility: visible;
}

a#top{
    visibility: hidden;
}

section{
    padding: 125px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
}

h3{
    font-weight: 500;
    color: blue;
    margin: 0;
    padding-right: 60px;
    text-transform: uppercase;
    width: 10%;
    text-align: right;
    font-size: 17px;
}

.text{
    width: 50%;
    font-size: 15px;
}

.about .text * a{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
    color: black;
    font-weight: 500;
}
.about .text * a:hover {
    background-size: 100% 100%;
}

#academic-interest{
    font-weight: 600;
    color: black;
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 0;
    padding: 0;
}

.resume{
    padding: 0 0 100px 0;
    display: block;
}

.resume h3{
    width: 100%;
    text-align: center;
    text-transform: none;
    color: black;
    font-weight: 700;
}

.arrow-effect{
    color: black;
}

.arrow-effect i{
    position: relative;
    right: 0;
    transition: all 0.5s;
    color: blue;
}

.arrow-effect:hover i{
    right: -15px;
}

.skills .text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills h3{
    margin-top: 10px;
}

.skill h3{
    text-transform: capitalize;
    margin-top: 10px;
}

.skill ul{
    list-style: none;
    padding: 0;
}

/* .projects .text{
    width: 60%;
} */

.project{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.aboutProject{
    padding-left: 30px;
    width: 250px;
}

.aboutProject h3{
    text-transform: capitalize;
    width: 100%;
    text-align: left;
}

p span{
    font-size: 13px;
    border: solid 1px rgb(0, 74, 194);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(0, 98, 255);
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 100px;
}

footer h3{
    width: auto;
    color: black;
    font-weight: 400;
    text-transform: none;
    text-align: center;
}

.socials ul{
    display: flex;
    list-style: none;
}

.socials ul li{
    margin: 0 20px;
    color: blue;
    font-weight: 500;
    background-image: linear-gradient(120deg, blue 0%, blue 100%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 50% 70%;
    transition: background-position 0.25s ease-in, background-size 0.25s ease-in;
    padding-bottom: 5px;
}

.socials ul li:hover{
    background-size: 100% 0.1em;
    background-position: 0 100%;
}

.socials ul li a:visited{
    color: blue;
}

a{
    text-decoration: none;
}

@media(max-width: 700px){
     section{
         flex-direction: column;
         padding: 100px 50px;
         align-content: center;
         text-align: justify;
     }
     .home{
         padding: 0 50px;
     }
     footer{
         padding: 0 50px;
     }
     .text{
         width: 100%;
     }
     .projects .text{
         text-align: left;
     }
}