<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>I'm a 1st year postgraduate student at the <a class="cool-underline-link" target="_blank" href="https://www.iitmz.ac.in/">Indian Institute of Technology, Madras</a> studying Data Science and AI (MTech), 
      
      currently working as a research assistant with the <a class="cool-underline-link" target="_blank" href="https://dsai.iitm.ac.in/research/research-centres/walmart-centre-for-tech-excellence/">Walmart Center for Tech Excellence</a>. 
      
      I recently worked at <a class="cool-underline-link" target="_blank" href="https://www.flydubai.com/">Flydubai</a> as an IT corporate & support intern, 
      
      and previously at <a class="cool-underline-link" target="_blank" href="https://www.hw.ac.uk">Heriot-Watt University</a> as a lab assistant for an <a class="cool-underline-link" target="_blank" href="https://www.macs.hw.ac.uk/students/cs/courses/f27wd-web-design-and-databases/">introductory web development</a> (F27WD - Web Design and Databases) and <a class="cool-underline-link" target="_blank" href="https://www.macs.hw.ac.uk/students/cs/courses/f27sa-software-development-1/"> software development</a> (F27SA - Software Development 1) courses. 
      
      My academic interests tend to revolve around <strong>deep learning and data science</strong>, and am eager to explore the applications of my knowledge.</p>

    <p>When I'm not in classes or working, I'm probably playing the guitar, writing songs, or learning a new language. I've been writing (for fun!) for about 6 years, can speak 4 languages, and love trying out new hobbies.</p>

    <p>Currently, I'm looking for opportunities that align with my interests to kick-start my career.</p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>