<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>I'm a 4th year undergraduate student at <a class="cool-underline-link" target="_blank" href="https://www.hw.ac.uk">Heriot-Watt University, Edinburgh</a> studying Computer Science with a specialisation in AI. I recently worked as a lab assistant for an <a class="cool-underline-link" target="_blank" href="https://www.macs.hw.ac.uk/students/cs/courses/f27wd-web-design-and-databases/">introductory web development course</a> at the university(F27WD - Web Design and Databases) and previously helped teach an <a class="cool-underline-link" target="_blank" href="https://www.macs.hw.ac.uk/students/cs/courses/f27sa-software-development-1/">introductory software development course</a> as well(F27SA - Software Development 1). My academic interests tend to revolve around <strong>ML and data analysis</strong>, and am eager to explore the applications of my knowledge.</p>

    <p>When I'm not in classes or working, I'm probably playing the guitar, writing songs, or learning a new language. I've been writing (for fun!) for about 6 years, can speak 4 languages, and love trying out new hobbies.</p>

    <p>Currently, I'm looking for opportunities that align with my interests to kick-start my career.</p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
