<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project blistabloc">
      <figure class="project__pic">
          <img src="{{site.baseurl}}/img/featured/us-ppqa/US-PPQA.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong><a href="https://sites.google.com/view/wicv-cvpr-2025/program/accepted-papers" target="_blank">AI-Generated Images Quality Assessment</a></strong>
        </div>
        <p>Proposed a novel approach for perceptual quality assessment (PQA) of AI-generated images by incorporating style awareness and uncertainty-guided probabilistic modeling. <em>Accepted at WiCV, CVPR '25</em></p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://youtu.be/13Q6qLhceL8?si=idmpqkPD1rOoUAYJ" target="_blank">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/13Q6qLhceL8?si=p26mF1-WGK4Kujnz&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong><a href="https://doi.org/10.1145/3687272.3690900" target="_blank">FurGuide</a></strong>
        </div>
        <p>Research study on the impact of narratives (storytelling elements) included in navigational instructions on user experience and information recall. <em>Published at HAI '24</em></p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
          <img src="{{site.baseurl}}/img/featured/dmml/dmml.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Song Popularity Predictor</strong>
        </div>
        <p>Developed predictive models using different ML techniques including neural networks (DNN, CNN), decision trees, clustering techniques (KNN, DBSCAN, K-Means) and compared performance.</p>
      </figcaption>
      <!-- Add technologies used, like in 'other projects' -->
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <a href="https://github.com/Shivaanee/COVID19-Data-Visualization" target="_blank">
          <img src="{{site.baseurl}}/img/featured/C19/DV_Dashboard.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong><a href="https://github.com/Shivaanee/COVID19-Data-Visualization" target="_blank">COVID-19 Visualisation</a></strong>
        </div>
        <p>Interactive dashboard visualising COVID-19 vaccination effectiveness.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
          <img src="{{site.baseurl}}/img/featured/NIR/NIR.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Metabolite Concentration Analysis</strong>
        </div>
        <p>Regression modeling for predicting metabolite concentrations from NIR (Near-infrared) spectral data</p>
      </figcaption>
    </div>
  </div>
</section>
